---
layout: default
description: Aaren's Blog
keywords: Aaren Xia, 夏振华, Zhenhua Xia
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DJ678YCF2C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DJ678YCF2C');
</script>

<div class="postlist">
    {% for post in paginator.posts %}
    <div class="overview">
        <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
        <div class="detail"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endfor %}
</div>
{% include pagination.html %}

