<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" data-i18n-zh="{{ site.data.i18n.zh.pagination.prev }}" data-i18n-en="{{ site.data.i18n.en.pagination.prev }}">{{ site.data.i18n.zh.pagination.prev }}</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}" data-i18n-zh="{{ site.data.i18n.zh.pagination.prev }}" data-i18n-en="{{ site.data.i18n.en.pagination.prev }}">{{ site.data.i18n.zh.pagination.prev }}</a>
    {% endif %}
  {% else %}
    <span class="previous disabled" data-i18n-zh="{{ site.data.i18n.zh.pagination.prev }}" data-i18n-en="{{ site.data.i18n.en.pagination.prev }}">{{ site.data.i18n.zh.pagination.prev }}</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}" data-i18n-zh="{{ site.data.i18n.zh.pagination.next }}" data-i18n-en="{{ site.data.i18n.en.pagination.next }}">{{ site.data.i18n.zh.pagination.next }}</a>
  {% else %}
    <span class="next disabled" data-i18n-zh="{{ site.data.i18n.zh.pagination.next }}" data-i18n-en="{{ site.data.i18n.en.pagination.next }}">{{ site.data.i18n.zh.pagination.next }}</span>
  {% endif %}
  <span data-i18n-zh="{{ site.data.i18n.zh.pagination.total_prefix }}{{ paginator.total_posts }}{{ site.data.i18n.zh.pagination.total_suffix }}" data-i18n-en="{{ site.data.i18n.en.pagination.total_prefix }}{{ paginator.total_posts }}{{ site.data.i18n.en.pagination.total_suffix }}">{{ site.data.i18n.zh.pagination.total_prefix }}{{ paginator.total_posts }}{{ site.data.i18n.zh.pagination.total_suffix }}</span>
</div>
