{% include header.html %}
<div id="container">
    {% include navigation.html %}
    <div id="main">
        {% if page.title %}
        <h2 data-i18n-zh="{{ page.title }}" data-i18n-en="{{ page.title_en | default: page.title }}"> {{ page.title }} </h2>
        {% else %}
        <h2 data-i18n-zh="{{ site.data.i18n.zh.site_title }}" data-i18n-en="{{ site.data.i18n.en.site_title }}"> {{ site.title }} </h2>
        {% endif %}
        {{ content }}
        {% include ads_footer.html %}
    </div>
</div>
{% include footer.html %}
